/*main container*/
.flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/*food picture only*/
.foodPic {
	height: 100%;
	width: 100%;
	
}

/*edits next page button*/
.nextPage{
	
}