<p> Favorites </p>
<p *ngIf="currentUser">{{currentUser.name}}</p>
<img *ngIf="currentUser" src="{{currentUser.photoUrl}}">
<br />

<button (click)="callsNextPage()">Next Page ></button>

<div *ngFor="let favoriteFood of favoriteFoods">
	<img src="{{ favoriteFood.photoUrl }}" style="width:100px;">
	<p>Food Id: {{favoriteFood.id}}</p>
	<button data-id="{{favoriteFood.id}}" (click)="deletesOneFood(this.favoriteFood.id)">Delete</button>
</div>

<p>adds the index route to grab details on all of a user's favorite foods</p>
<p>adds the destroy route to remove a food from the database</p>