/*************
  Phone Only
**************/
@media only screen and (max-width: 766px) {
	/*main container*/
	.flex-container{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	/*food picture only*/
	.foodPic {
		height: 100%;
		width: 100%;
		
	}

	/*edits next page button*/
	.nextPage{
		
	}
}

/*************
    Ipad
**************/
@media only screen and (min-width: 767px) and (max-width: 1024px) {
	/*main container*/
	.flex-container{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	/*food picture only*/
	.foodPic {
		height: 50%;
		width: 250%;
		
	}

	/*next page button*/
	.nextPage{
		
	}
	
	/*search bar*/
	.search{
		width: 100%;
		height: 200%;
	}
}

/*************
   Computer
**************/
@media only screen and (min-width: 1025px) {
	/*main container*/
	.flex-container{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	/*food picture only*/
	.foodPic {
		height: 100%;
		width: 100%;
		
	}

	/*edits next page button*/
	.nextPage{
		
	}
	
	/*search bar*/
	.search{
		width: 100%;
		height: 200%;
	}
}