<button (click)="callsNextPage()">Button</button>

<!--Search -->
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for a restaurant">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Search</button>
      </span>
    </div>
  </div>
</div>

<!--Resturnats-->
<div class="flex-container">
	<img class="foodPic" src="https://ariapeptide.files.wordpress.com/2014/07/r-healthy-summer-fruit-large570.jpg">
	<button type="button" class="btn btn-danger">Delete</button>
</div>
