.flex-container{
	display: flex;
	flex-wrap: wrap;
}

#foodPicture{
	height: 75.7%;
	width: 90%;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0;
}

#header{
	background-color: #D76721;
	margin: 0;
	width: 100%;
	height: 20%;
	text-align: center;
	color: white;
	padding: 6%;
	font-family: Heebo;
}



.distance{
	text-align: left;
}