<html>
<!--Navigation Bar-->
<nav id="navBar" class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a id="logo" class="navbar-brand" href="#">swipe<img src="https://i.imgur.com/bi1iy66.png" height="40px" width="40px">Bite</a>
  <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed">
    <ul id="list" class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#about">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#features">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#downloads">Download</a>
      </li>
    </ul>
  </div>
</nav>

<!--Main Food Banner-->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Hungry on the Go?</div>
      <div class="intro-heading text-uppercase">The best food in your city all in one app</div>
        <a id="moreInfoButton" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#about">Learn More</a>
    </div>
  </div>
</header>

<br>
<br>
<br>

<!--About Section-->
<section id="about">
  <div class= "container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 id="aboutHead" class="section-heading text-uppercase">About</h2>
        <h3 id="aboutSubHead" class="section-subheading text-muted">Easily click through restaurants around you</h3>
        <br>
        <p id="aboutP">Four dollar toast pabst raw denim VHS tumeric sartorial. Godard cronut gochujang aesthetic kogi, deep v occupy health goth edison bulb. Cray fixie salvia ugh live-edge. Brunch migas aesthetic PBR irony snackwave tbh humblebrag tofu locavore leggings tattooed. Ramps dreamcatcher marfa semiotics squid sartorial hashtag stumptown fashion axe activated charcoal kombucha wolf. Church-key pitchfork leggings, art party pickled four dollar toast meggings yuccie poutine cliche. Tacos viral messenger bag, chillwave street art cray poutine kogi air plant photo booth. Farm-to-table lo-fi semiotics distillery gluten-free prism four dollar toast whatever everyday carry banjo biodiesel locavore actually. </p>
      </div>
    </div>
  </div>
</section>

<br>
<br>
<br>

<!--Features Section-->
<section id="features">
  <div class= "container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Features</h2>
        <h3 class="section-subheading text-muted">Easily click through restaurants around you</h3>
        <br>
        <p id="aboutP">Four dollar toast pabst raw denim VHS tumeric sartorial. Godard cronut gochujang aesthetic kogi, deep v occupy health goth edison bulb. Cray fixie salvia ugh live-edge. Brunch migas aesthetic PBR irony snackwave tbh humblebrag tofu locavore leggings tattooed. Ramps dreamcatcher marfa semiotics squid sartorial hashtag stumptown fashion axe activated charcoal kombucha wolf. Church-key pitchfork leggings, art party pickled four dollar toast meggings yuccie poutine cliche. Tacos viral messenger bag, chillwave street art cray poutine kogi air plant photo booth. Farm-to-table lo-fi semiotics distillery gluten-free prism four dollar toast whatever everyday carry banjo biodiesel locavore actually. </p>
      </div>
    </div>
  </div>
</section>

<br>
<br>
<br>

<!--Testimonials-->

<section id="testimonials">
  <div class= "container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Testimonials</h2>
        <h3 class="section-subheading text-muted">Easily click through restaurants around you</h3>
        <br>
        <p id="aboutP">Four dollar toast pabst raw denim VHS tumeric sartorial. Godard cronut gochujang aesthetic kogi, deep v occupy health goth edison bulb. Cray fixie salvia ugh live-edge. Brunch migas aesthetic PBR irony snackwave tbh humblebrag tofu locavore leggings tattooed. Ramps dreamcatcher marfa semiotics squid sartorial hashtag stumptown fashion axe activated charcoal kombucha wolf. Church-key pitchfork leggings, art party pickled four dollar toast meggings yuccie poutine cliche. Tacos viral messenger bag, chillwave street art cray poutine kogi air plant photo booth. Farm-to-table lo-fi semiotics distillery gluten-free prism four dollar toast whatever everyday carry banjo biodiesel locavore actually. </p>
      </div>
    </div>
  </div>
</section>

<br>
<br>
<br>

<!--Dowload Section-->
<section id="download">
  <div class= "container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Download</h2>
        <h3 class="section-subheading text-muted">Easily click through restaurants around you</h3>
        <br>
        <p id="aboutP">Four dollar toast pabst raw denim VHS tumeric sartorial. Godard cronut gochujang aesthetic kogi, deep v occupy health goth edison bulb. Cray fixie salvia ugh live-edge. Brunch migas aesthetic PBR irony snackwave tbh humblebrag tofu locavore leggings tattooed. Ramps dreamcatcher marfa semiotics squid sartorial hashtag stumptown fashion axe activated charcoal kombucha wolf. Church-key pitchfork leggings, art party pickled four dollar toast meggings yuccie poutine cliche. Tacos viral messenger bag, chillwave street art cray poutine kogi air plant photo booth. Farm-to-table lo-fi semiotics distillery gluten-free prism four dollar toast whatever everyday carry banjo biodiesel locavore actually. </p>
      </div>
    </div>
  </div>
</section>

<br>
<br>
<br>

<!--Footer-->
<footer>
  <div class="container">
    
  <div class="col-lg-12 text-center">
      <span class="copyright">Copyright &copy; Marissa Fullford, Courtney Fay, Natalie Francis, Emma DeMango 2017</span>
  </div> 
</div>
</footer>
</html>
