#background{
    width: 100%;
    height: 100%;
}
h5 {
    color: white;
}
#logo{
    font-family: Heebo;
    font-size: 30px;
    color: #D76721;
    font-weight: bold;
}
#navBar{
    font-family: Poppins;
    background-color: white;
    margin-top: -210px;
}
.ramen {
    float: left;
    max-width: 200px;
    margin-right: 880px;
}
#list {
    font-family: Poppins;
    color: white;
}
.nav-item {
    float: right;
}
button {
    font-family: Poppins;
    border-radius: 3px;
    color: white;
    border-style: none;
    padding: 8px;
}
header.masthead {
    font-family: Poppins;
    text-align: center;
    color: white;
    background-image: url('../../assets/pizza.jpg');
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
}
.intro-text {
    font-family: Poppins;
    padding-top: 150px;
    padding-bottom: 100px;
}
.intro-lead-in {
    font-family: Poppins;
    font-size: 60px;
    font-style: italic;
    line-height: 60px;
    margin-bottom: 25px;
}
    
.intro-heading {
    font-family: Poppins;
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 25px;
}
#moreInfoButton {
    font-family: Poppins;
    background: #D76721;
    border-color: #D76721;
    padding: 22px 35px 22px 35px;
    font-size: 20px;
}
#aboutHead {
    font-family: Poppins;
    font-weight: 900;
    width: 40%;
    margin-bottom: 10px;
}
#aboutSubHead {
    font-family: Poppins;
    font-weight: 900;
    width: 40%;
}
#aboutP {
    font-family: Poppins;
    font-weight: 900;
    padding: 10px;
    width: 40%;
}
#showcards {
    float: right;
    margin-top: -420px;
    max-width: 40%;
}
#features{
    background-color: rgba(215, 103, 33,0.7);
    padding: 40px;
    color: white;
}
#aboutF {
    font-family: Poppins;
    font-weight: 900;
    padding: 10px;
    width: 60%;
    margin-left: 110px;
}
.featureUl {
    /*list-style: none;*/
    margin-top: -40px;
    width: 60%;
    margin-left: 20%;
    line-height: 150%;
}
.featurli {
    text-align: left;
}
#testimonials{
    padding: 40px;
}
#download{
    background-color: rgba(215, 103, 33,0.7);
    padding: 40px;
    color: white;
    margin-top: -207px;
}
/******************
    Meet Our Team
*******************/
body {
    font-family: Poppins, sans-serif;
    line-height: 1.5;
    color: #323232;
    font-size: 15px;
    font-weight: 400;
  /*  text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;*/
}
.heading-title {
    margin-bottom: 100px;
}
.text-center {
    text-align: center;
}
.heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: normal;
}
.p-top-30 {
    padding-top: 30px;
}
.half-txt {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #7e7e7e;
}
.text-uppercase {
    text-transform: uppercase;
}
.team-member, .team-member .team-img {
    position: relative;
}
.team-member {
    overflow: hidden;
}
.team-member, .team-member .team-img {
    position: relative;
}
#marissaPic {
    height: 475px;
}
#emmaPic {
    height: 475px;
}
#natPic {
    height: 475px;
    align-content: center;
}
.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.team-member:hover .team-hover .desk {
    top: 35%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member:hover .team-hover .s-link {
    bottom: 10%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}
.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}
.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
}
.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}
footer .copyright{
    font-family: Poppins;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}
/*
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}*/