#background{
    width: 100%;
    height: 100%;
}

/*.navbar {
    width:100%;
    background:none !important;

    @media(max-width: 34em) {
        background: black !important;
    }

    .navbar-toggler {
        cursor:pointer;
        outline:0;
    }

    .nav-link {
        text-transform:uppercase;
        font-weight:bold;
    }

    .nav-item {
        padding: 0 1rem;

        @media(max-width: 34em) {
            padding: 0;
        }

        .nav-link {
            @media(max-width: 34em) {
                font-weight:normal;
                color:#fff !important;
            }
        }
    }
}*/