/*html{
    background-color: rgba(215, 103, 33,0.2);
}*/
#background{
    width: 100%;
    height: 100%;
}

.bg-white{
    font: white;
}

#logo{
    font-family: Heebo;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

#navBar{
    font-family: Poppins;
    background-color: #D76721;
    color: white;
}

#list {
    font-family: Poppins;
    color: white;
}

header.masthead {
    font-family: Poppins;
    text-align: center;
    color: white;
    background-image: url('../../assets/pizza.jpg');
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
}

.intro-text {
    font-family: Poppins;
    padding-top: 150px;
    padding-bottom: 100px;
}

.intro-lead-in {
    font-family: Poppins;
    font-size: 60px;
    font-style: italic;
    line-height: 60px;
    margin-bottom: 25px;
}
    
.intro-heading {
    font-family: Poppins;
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 25px;
}

#moreInfoButton {
    font-family: Poppins;
    background: #41c0e7;
    border-color: #41c0e7;
    padding: 22px 35px 22px 35px;
    font-size: 20px;
}

#aboutHead {
    font-family: Poppins;
    font-weight: 900;
}

#aboutSubHead {
    font-family: Poppins;
    font-weight: 900;
}

#aboutP {
    font-family: Poppins;
    font-weight: 900;
    padding: 40px;
}

#features{
    background-color: rgba(215, 103, 33,0.7);
    padding: 40px;
    color: white;
}

#testimonials{
    padding: 40px;
}

#download{
    background-color: rgba(215, 103, 33,0.7);
    padding: 40px;
    color: white;
}



footer .copyright{
    font-family: Poppins;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}



/*
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}*/