<html>
<!--Navigation Bar-->
<nav id="navBar" class="navbar sticky-top navbar-toggleable-md navbar-light bg-faded">
  <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a id="logo" class="navbar-brand" href="#"><img src="https://i.imgur.com/bi1iy66.png" class="ramen" height="40px" width="40px"></a>
  <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed">
    <ul id="list" class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#downloads">Download</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#about">About<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#features">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#meet">Meet Our Team</a>
      </li>
    </ul>
  </div>
</nav>
<!--Main Food Banner-->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Hungry on the Go?</div>
      <div class="intro-heading text-uppercase">The best food in your city all in one app</div>
        <a id="moreInfoButton" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#about">Learn More</a>
    </div>
  </div>
</header>
<!--Dowload Section-->
<section id="download">
  <div class= "container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Download</h2>
        <h5 class="section-subheading text-muted">Easily click through restaurants around you</h5>
        <br>
        <button a href="/landing">Go to App!</button>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<!--About Section-->
<section id="about">
  <div class= "container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 id="aboutHead" class="section-heading text-uppercase">About</h2>
        <h5 id="aboutSubHead" class="section-subheading text-muted">Easily click through restaurants around you</h5>
        <br>
        <p id="aboutP">Traveling to a new city and need to find restaurants near you? Out for a night on the town and have the late night munchies? Maybe you just want to explore your neighborhood for something new. Regardless, Swipe Bite makes exploring new restaurants near you easy and fun.
        </p>
        <p id="aboutP">
        Swipe Bite gets all restaurant information and photos from Google Places and can pull your location (with permission) directly from your phone making it hassle free. By clicking on the map icon, you are immeditiately taken to Google Maps and can make your way to the restaurant</p>
        <img src="../../assets/showcards.png" id="showcards">
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<!--Features Section-->
<section id="features">
  <div class= "container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Features</h2>
        <h5 class="section-subheading text-muted">Easily click through restaurants around you</h5>
        <br>
        <p id="aboutF">
        	<ul class="featureUl">
        		<li class="featurli">Tap left and right to find restaurants near you.</li>
        		<li class="featurli"> The name, reviews and the location will be provided by tapping the menu bar on the right bottom corner of the image.</li>
        		<li class="featurli"> In settings, change your desired distance. </li>
        		<li class="featurli"> Save restaurants for later and go back and find it in your saved favorites page. </li>
        	</ul>
        <!-- </p> -->
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<!--Meet Our Team-->
<div class="container">
  <div class="row">
    <div class="heading-title text-align-center">
      <h5 class="text-uppercase">Meet Our Team</h5>
      <!-- <p class="p-top-30 half-txt">General Assembly Students</p> -->
    </div>
    <div class="row">
    <div class="col-md-3 col-sm-3">
      <div class="team-member">
        <div class="team-img">
          <img src="../../assets/marissa.jpg" alt="team member" class="img-responsive" id="marissaPic">
        </div>
      <div class="team-hover">
        <div class="desk">
            <h4>Yo!</h4>
            <p>I'm a front end developer with a passion for Hot Cheetos.</p>
        </div>
        <div class="s-link">
          <a href="#"><i class="fa fa-github"></i></a>
        </div>
      </div>
    </div>
    <div class="team-title">
        <h5>Marissa Fullford</h5>
        <span>Front End Developer</span>
    </div>
  </div>
  <div class="col-md-3 col-sm-3">
    <div class="team-member">
      <div class="team-img">
        <img src="../../assets/court.jpg" alt="team member" class="img-responsive">
      </div>
      <div class="team-hover">
        <div class="desk">
          <h4>Hi</h4>
          <p>I'm a back end developer with a love for banjo music.</p>
        </div>
        <div class="s-link">
          <a href="#"><i class="fa fa-github"></i></a>
        </div>
      </div>
    </div>
    <div class="team-title">
        <h5>Courtney Fay</h5>
        <span>Back End Developer</span>
    </div>
  </div>
  <div class="col-md-3 col-sm-3">
    <div class="team-member">
      <div class="team-img">
        <img src="../../assets/nat.jpg" alt="team member" class="img-responsive" id="natPic">
      </div>
      <div class="team-hover">
        <div class="desk">
          <h4>Hello</h4>
          <p>I'm a back end developer and I love to travel.</p>
        </div>
        <div class="s-link">
          <a href="https://github.com/nataliefrancis"><i class="fa fa-github"></i></a>
        </div>
      </div>
    </div>
    <div class="team-title">
        <h5>Natalie Francis</h5>
        <span>Back End</span>
    </div>
  </div>
  <div class="col-md-3 col-sm-3">
    <div class="team-member">
         <div class="team-img">
            <img src="../../assets/emma.png" alt="team member" class="img-responsive" id="emmaPic">
        </div>
      <div class="team-hover">
        <div class="desk">
          <h4>Hey there</h4>
          <p>When I'm not a designing websites, I'm hanging out with my cat.</p>
        </div>
        <div class="s-link">
            <a href="#"><i class="fa fa-github"></i></a>
        </div>
      </div>
    </div>
    <div class="team-title">
      <h5>Emma DeMango</h5>
      <span>Front End Developer</span>
    </div>
    </div>
  </div>  
  </div>
</div>
<br>
<br>
<br>
<!--Footer-->
<footer>
  <div class="container">
    
  <div class="col-lg-12 text-center">
      <span class="copyright">Copyright &copy; Marissa Fullford, Courtney Fay, Natalie Francis, Emma DeMango 2017</span>
  </div> 
</div>
</footer>
</html>
