img {
	max-width: 40%;
	margin-bottom: 10%;
}
h2 {
	color: white;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 15%;
	margin-top: 5%;
}
.circle {
	display: inline-block;
	height: 20px;
	width: 20px;
	background-color: white;
	border-radius: 50%;
	margin-left: 10px;
	margin-right: 10px;
	border-width: 4px;
	border-color: #D76721;
}

#circle1 {
	background-color: #D76721;
}
.play {
	background-image: url(steaming-bowl.png);
}