<div *ngIf = "isCardOne">
		<app-first-card></app-first-card>
</div>
	<button class="circle" id="circle1"  type="button" (click)="isCardOne = !isCardOne">
 	</button>


<div *ngIf = "isCardTwo">
		<app-second-card></app-second-card>
</div>
 	<button class="circle" id="circle2" type="button" (click)="isCardTwo = !isCardTwo">
 	</button>


<div *ngIf = "isCardThree">
	<app-third-card></app-third-card>
</div>
	<button class="circle" id="circle3" type="button" (click)="isCardThree = !isCardThree">
	</button>


<div *ngIf = "isCardFour">
	<app-fourth-card></app-fourth-card>
</div>
	<button class="circle" id="circle3" type="button" (click)="isCardFour = !isCardFour">
	</button>

