
<div class="flex-conatiner">
	<nav id ="dropDown" class="navbar navbar-inverse navbar-toggleable-md fixed-top bg-faded">
		<button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" (click)="isCollapsed = !isCollapsed">
			<span class="navbar-toggler-icon"></span>
		</button>
			<a clas="navbar-brand">Bobs Burgers</a>
		<div id="dropped" class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" >
			<ul class="navbar-nav">
				<li class="navbar-item">
					<p>$$$</p>
					<!-- <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">Test<span class="sr-only">(current)</span></a> -->
				</li>
				<li class="navbar-item">
					<p>www.Iamhungry.com</p>
						<!-- <a routerLink='/reporting' routerLinkActive="active" class="nav-link">Test2</a> -->
				</li>
				<li>
					<p>5 stars</p>
				</li>
			</ul>
		</div>
	</nav>
</div>
