.flex-container{
	display: flex;
	flex-wrap: wrap;
}

#dropDown{
	text-align: left;
	background-color: rgba(215, 103, 33, 0.8);
	width: 90%;
	height: 8%;
	margin-top: 119.2%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 100%;
	font-size: 18px;
	padding: 3%;
	color: white;
	font-family: Poppins;
}

#dropped{
	margin-top: 4.8%;
	width: 106.9%;
	margin-left: -3.5%;
	background-color: rgba(215, 103, 33, 0.4);
	color: white;
}