
<h2>Profile Settings</h2>



<div class="container">
	<div class="image">
        <!-- <img ng-src="{{src}}" imageonload /> -->
    </div>
	<!-- <div class="Option location">
		<h3>Set Your Location</h3>
		<form (ngSubmit)="saveZipcode(newZipcode)">
			<input name="zipcode"  placeholder="Zipcode" [(ngModel)]="newZipcode.zipcode">
			<input class="submit" type="submit" value="Enter">
		</form>
	</div> -->
	<div class="Option distance">
		<h3>Max. Distance</h3>
      <form (ngSubmit)="updateDistance(newDistance)">
        <label for="distance">Distance (in miles)</label>
        <input name="distance"  placeholder="Distance (in miles)" [(ngModel)]="newDistance">
        <input class="submit" type="submit" value="Enter">
      </form>
			<!-- <div id="slidecontainer">
	 			<input type="range" min="1" max="5" value="2.5" class="slider" id="myRange">
			</div> -->
	</div>
	<button (click)="callsNextPage()"><h4>Start Swiping!</h4></button>
	<div class="Option logout">
		<h4>Logout</h4>
	</div>

