.flex-container{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

#buttons{
	margin-left: 25%;
	margin-top: 25%;
}

.btn-circle.btn-xl {
    width: 80px;
    height: 80px;
    padding: 10px 16px;
    border-radius: 40px;
    font-size: 24px;
    line-height: 1.33;
    border: 5px solid #e6e6e6;
}