<<<<<<< HEAD
/* You can add global styles to this file, and also import other style files */
 html, body{
 	margin: 0;
 }
=======
body {
	margin: 0 auto;
	background-color: rgba(215, 103, 33,.4);
}
>>>>>>> 442398eb26ab502ab82fe7b8d770ce770c591087
