/*************
  Phone Only
**************/
@media only screen 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {

img {
	/*max-width: 40%;*/
	/*margin-bottom: 5%;*/
}
.showCards {
	width: 60%;

}
h2 {
	color: white;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 10%;
	margin-top: 5%;
}

button {
	font-family: 'Poppins', sans-serif;
	color: white;
	background-color: #D76721;
	color: white;
	border-radius: 4px;
	border-style: none;
	padding: 3%;
	margin-top: 10%;
	display: block;
	margin-left: 33%;
	width: 30%;
}

}

/*************
    Ipad
**************/
/*font size increases, button size increases, logo size increases*/
@media only screen 
  and (min-device-width: 668px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
	
	/*ramen logo*/
	img {
		max-width: 50%;
		margin-bottom: 10%;
	}

	.showCards {
	width: 60%;

}

	h2 {
		color: white;
		font-family: 'Poppins', sans-serif;
		margin-bottom: 10%;
		margin-top: 5%;
		font-size: 35px;
	}
button {
	font-family: 'Poppins', sans-serif;
	color: white;
	background-color: #D76721;
	color: white;
	border-radius: 4px;
	border-style: none;
	padding: 3%;
	margin-top: 10%;
	display: block;
	margin-left: 33%;
	width: 30%;
}

}

/*************
   Computer
**************/
/*font size increases, button size increases, margin decreases, logo size increases*/
@media screen 
  and (min-device-width: 1025px) 
  and (max-device-width: 2000px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

	/*ramen logo*/
	img {
		max-width: 30%;
		margin-bottom: 5%;
	}
	
	/*description*/
	h2 {
		color: white;
		font-family: 'Poppins', sans-serif;
		margin-bottom: 10%;
		margin-top: 5%;
		font-size: 60px;
	}
	
	/*circle buttons*/
	button {
	font-family: 'Poppins', sans-serif;
	font-weight: 80px;
	color: white;
	background-color: #D76721;
	color: white;
	border-radius: 4px;
	border-style: none;
	padding: 3%;
	margin-top: 10%;
	display: block;
	margin-left: 33%;
	width: 40%;
}
}


